<h1>PARAMETRE DU PROFILE</h1>
<div class="main-container">
    <div class="content">
      <div id="container">
        <div class="kpi-card orange">
          <span class="card-text">Nom & Prénoms:</span>
          <i class="fas fa-shopping-cart icon"></i>
  
          <span class="card-value">{{employeeName}} </span>
        </div>
      
        <div class="kpi-card purple">
          <span class="card-text">Jours par an:</span>
          <i class="fas fa-shopping-cart icon"></i>
  
          <span class="card-value">{{totaLeaveAvailable}} </span>
        </div>
      
        <div class="kpi-card grey-dark">
          <span class="card-text">Jours disponibles:</span>
          <i class="fas fa-shopping-cart icon"></i>
  
          <span class="card-value">{{totalCurrentLeave}}</span>
        </div>
      
        <div class="kpi-card red">
          <span class="card-text">Jours Utilisés:</span>
          <i class="fas fa-shopping-cart icon"></i>
  
          <span class="card-value">{{totalLeaveUsed}}</span>
        </div>
      </div>
    </div>
  </div>
