<h1>PARAMETRE DU PROFILE</h1>
<div class="elementDiv">
    <div class="card">
        <div class="container">
            <div class="title">Mon Profile</div>
            <div class="content">
                <table style="width:100%">
                    <tr>
                        <th>Nom & Prénoms:</th>
                        <td>{{employeeName}}</td>
                    </tr>
                    <tr>
                        <th>Nombre de jours initial:</th>
                        <td>{{totaLeaveAvailable}}</td>
                    </tr>
                    <tr>
                        <th>Nombre de jours actuel:</th>
                        <td>{{totalCurrentLeave}}</td>
                    </tr>
                    <tr>
                        <th>Nombre de jours utilisé:</th>
                        <td>{{totalLeaveUsed}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
