
.calendar{
    background: #fff;
    height: 750px;
    margin: 20px;
}


@media screen and (min-width: 1200px) {
    .calendar{
        background: #fff;
        height: 550px;
        margin: 20px;
    }
}