<nav>
  <ul>
    <li>
      <a routerLink="home" class="logo">
        <img src="assets/infi_software_logo.jpeg" alt="" />
        <span class="nav-item">DashBoard</span>
      </a>
    </li>
    <li>
      <a routerLink="home" routerLinkActive="active">
        <i class="fas fa-home"></i>
        <span class="nav-item">Accueil</span>
      </a>
    </li>
    <li *ngIf="role === 'Manager'||role==='Admin'">
      <a routerLink="EmployeeList" routerLinkActive="active">
        <i class="fas fa-users"></i>
        <span class="nav-item">Liste des Employés</span>
      </a>
    </li>
    <li *ngIf="role === 'Manager'||role === 'Employee'||role==='Admin'">
      <a routerLinkActive="active" routerLink="LeaveResquestList" class="notification">
        <i class="fas fa-chart-bar"></i>
        <span class="nav-item" *ngIf="role==='Manager'||role==='Admin'">Demandes en attentes</span>
        <span class="badge" *ngIf="role ==='Manager'" [hidden]="totalPending == 0">{{totalPending}}</span>
        <span class="nav-item" *ngIf="role === 'Employee'">Mes demandes en attente</span>
      </a>
    </li>
    <li *ngIf="role === 'Manager'">
      <a routerLinkActive="active" routerLink="leave-type" class="notification">
        <i class="fas fa-plus"></i>
        <span class="nav-item" *ngIf="role==='Manager'">Ajouter un type de congé</span>
      </a>
    </li>
    <li *ngIf="role === 'Employee'||role==='Manager'">
      <a routerLink="leave-request-form/add" routerLinkActive="active">
        <i class="fas fa-question-circle"></i>
        <span class="nav-item">Effectuer une demande</span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="reporting" *ngIf="role === 'Employee'||role === 'Manager'">
        <i class="fas fa-info"></i>
        <span class="nav-item">Mon rapport de congé</span>
      </a>
    </li>
    <li>
      <a routerLink="userProfile" routerLinkActive="active">
        <i class="fas fa-cog"></i>
        <span class="nav-item">Paramètre du profile</span>
      </a>
    </li>
    <li>
      <a class="logout" (click)="logOut()">
        <i class="fas fa-sign-out-alt"></i>
        <span class="nav-item">Déconnexion</span>
      </a>
    </li>
  </ul>
</nav>
