<nav>
  <ul>
    <li>
      <a href="#" class="logo">
        <img src="assets/logo.png" alt="" />
        <span class="nav-item">DashBoard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-home"></i>
        <span class="nav-item">Accueil</span>
      </a>
    </li>
    <!-- <li>
      <a routerLink="userProfile" >
        <i class="fas fa-user"></i>
        <span class="nav-item">Profile</span>
      </a>
    </li> -->
    <li *ngIf="role === 'Manager'">
      <a routerLink="EmployeeList">
        <i class="fas fa-users"></i>
        <span class="nav-item">Liste des Employés</span>
      </a>
    </li>
    <li *ngIf="role === 'Manager' || role === 'Employee'">
      <a routerLink="LeaveResquestList">
        <i class="fas fa-chart-bar"></i>
        <span class="nav-item" *ngIf="role === 'Manager'">Demandes en attentes</span>
        <span class="nav-item" *ngIf="role === 'Employee'">Liste de mes demandes</span>
      </a>
    </li>
    <li *ngIf="role === 'Employee'">
      <a routerLink="leave-request-form/add">
        <i class="fas fa-question-circle"></i>
        <span class="nav-item">Effectuer une demande</span>
      </a>
    </li>
    <li>
      <a routerLink="userProfile">
        <i class="fas fa-cog"></i>
        <span class="nav-item">Paramètre du profile</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fas fa-info"></i>
        <span class="nav-item">Informations</span>
      </a>
    </li>
    <li>
      <a class="logout" (click)="logOut()">
        <i class="fas fa-sign-out-alt"></i>
        <span class="nav-item">Déconnexion</span>
      </a>
    </li>
  </ul>
</nav>
