<section class="main">
    <h1 *ngIf="role === 'Manager'">LISTE DES REQUETES A VALIDER</h1>
    <h1 *ngIf="role === 'Employee'">LISTE DE MES DEMANDES EFFECTUEES</h1>
    <section class="attendance">
        <div class="attendance-list">
            <div class="search-box">
                <button class="btn-search"><i class="fas fa-search"></i></button>
                <input type="text" [(ngModel)]="searchText" class="input-search" placeholder="Recherchez ici...">
            </div>
            <div class="search-boxs" *ngIf="role === 'Manager'||'Admin'">
                <button class="addClass" (click)="onExport()">Export Excel</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Date demande</th>
                        <th>Type de congé</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Nombre de jours</th>
                        <th>Motif de la demande</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor=" let req of request| paginate: { itemsPerPage: 5, currentPage: page} | searchfilter: searchText">
                        <td>{{req.firstName}} {{req.lastName}}</td>
                        <td>{{req.dateRequest|date}}</td>
                        <td>{{req.leaveTypeName}}</td>
                        <td>{{req.dateStart|date}}</td>
                        <td>{{req.dateEnd|date}}</td>
                        <td>{{req.numberOfDays}} jours</td>
                        <td>{{req.commentary| cutText: 20}}</td>
                        <td>{{getStatus(req.requestStatus)}}</td>
                        <td *ngIf="role === 'Employee'">
                            <button (click)="onClikToUpdate(req.id)"
                             [disabled]="req.requestStatus==='Accepted'||req.requestStatus==='Rejected'">Modifier</button>
                             <button
                             [disabled]="req.requestStatus==='Accepted'" (click)="onClikToDelete(req.id)">Supprimer</button>
                        </td>
                        <td *ngIf="role === 'Manager'">
                            <button (click)="updateStatus(req.id, 'Accepted')">Accepter</button>
                            <button (click)="updateStatus(req.id, 'Rejected')">Refuser</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <pagination-controls class="paginate" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </section>
</section>