<div class="container">
    <div class="title">Nouvel utilisateur</div>
    <div class="content">
        <form [formGroup]="currentForm">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Nom</span>
                    <input type="text" formControlName="firstName" placeholder="Entrer le nom" required>
                </div>
                <div class="input-box">
                    <span class="details">Prénoms</span>
                    <input type="text" formControlName="lastName" placeholder="Entrer le Prénoms" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" formControlName="email" placeholder="Entrer l'email" required>
                </div>
                <div class="input-box">
                    <span class="details">Contact</span>
                    <input type="text"
                     formControlName="phoneNumber" 
                     placeholder="Entrer le numero de téléphone" 
                     required
                     maxlength="10">
                </div>
                <div class="input-box">
                    <span class="details">Poste occupé</span>
                    <input type="text" formControlName="job" placeholder="Entrer le poste occupé" required>
                </div>
                <div class="input-box" [hidden]="isUpdate">
                    <span class="details">Mot de passe</span>
                    <input type="password"
                    formControlName="password" 
                    placeholder="Entrer le mot de passe" 
                    required minlength="5">
                    <small *ngIf="currentForm.controls['password'].hasError('required')">*Le mot de passe minimum 5 caractères</small>
                </div>
                <div class="input-box">
                    <span class="details">Role Utilisateur</span>
                    <select name="" id="" formControlName="roleId">
                        <option *ngFor="let role of roles" [value]="role.id">{{role.roleName}}</option> 
                    </select>
                </div>
                <!-- <div class="input-box">
                    <span class="details">Total des jours de congé</span>
                    <input type="number" formControlName="totaLeaveAvailable" placeholder="Entrer le mot de passe" required>
                </div> -->
                <div class="input-box">
                    <span class="details">Date d'embauche</span>
                    <input type="date" formControlName="hireDate" placeholder="Entrer le nom" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" (click)="onUserCreate()" value="Enregister">
            </div>
        </form>
    </div>
</div>
