<dialog id="dialog" class="details">
    <div class="wrapper">
            <input type="email"
             placeholder="Entrez votre adresse e-mail" 
             [(ngModel)]="resetPasswordEmail"
             (ngModelChange)="checkValidEmail($event)" required />
            <small *ngIf="!resetPasswordEmail">*L'adresse e-mail est requise </small>
            <small *ngIf="!isValidEmail && resetPasswordEmail">e-mail invalid </small>
        <button (click)="confirmToSend()">Envoyer</button>
    </div>
    <button onclick="window.dialog.close();" aria-label="close" class="x">❌</button>
</dialog>