<dialog id="dialog" class="details">
    <div class="container">
        <div class="title">Changer de mot de passe</div>
        <div class="content">
            <form [formGroup]="pwChangeForm">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Ancien mot de passe</span>
                        <input type="password"
                        formControlName="current" 
                        placeholder="Entrer le mot de passe" 
                        required minlength="5"
                        maxlength="20">
                    </div>
                </div>
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nouveau mot de passe</span>
                        <input type="password"
                        formControlName="newPW" 
                        placeholder="Entrer le Nouveau mot de passe" 
                        required minlength="5"
                        maxlength="20">
                    </div>
                </div>
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Confirmer le nouveau mot de passe</span>
                        <input type="password"
                        formControlName="confirm" 
                        placeholder="Confirmer le nouveau mot de passe" 
                        required minlength="5"
                        maxlength="20">
                    </div>
                </div>
                <div class="button">
                    <input type="submit" (click)="changePassword()" value="Enregister">
                </div>
            </form>
        </div>
    </div>
    <button onclick="window.dialog.close();" aria-label="close" class="x">❌</button>
</dialog>
